<div class='row></div>

<h1 class 'four columns offest by-four '> </h1>
<h1 class 'four columns'> Lane Burks </h1>

<div class='row'></div>

<a href="contact">
  <img class='offset-by-four eight columns' src='/scrubs.jpg' />

</a>

<div class= 'row></div>

<h2 class='offset-by-three three columns'> </h2>
<h2 class='three columns'> Web Development </h2>
<h2 class='three columns'> OR/MS/Analytics </h2>
<h2 class='three columns'> Industrial Design </h2>
<h2 class='three columns'> Soccer </h2>
<h2 class='three columns'> Skiing </h2>





