<!doctype html>
<html lang='en'>
<head>

<meta charset='utf-8'>

<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
<link rel="stylesheet" type="text/css" href="stylesheets/skeleton.css">
<link rel="stylesheet" type="text/css" href="stylesheets/layout.css">

<title>My Face</title>

</head>
<body>

	<div class= container>
	<%= yield%>
	 >
	</div>

</body>
</html>